<h3><%= link_to 'Articles', articles_path %> #<%= @article.id %></h3>

<h4><%= @article.title %></h4>
<%= @article.text %>

<br><br>

<h3>Comments:</h3>

<% @article.comments.each do |comment| %>

  <%= comment.body %><br>
  <i>said <%= comment.author.mb_chars.downcase! %>, 
  <span style="font-size: 11px;"><%= comment.created_at.strftime("%d %B %Y") %> in <%= comment.created_at.strftime("%H:%M:%S") %></span></i><br><br>

<% end %>

<hr>
<h4>Add comment:</h4>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit 'Add comment' %>
  </p>

<% end %>